<header id="site-header" class="ui menu fixed">
  <div class="ui container">
    <div class="header item" role="banner">
      <a class="site-logo" href="{{site.url}}" rel="home">{{site.name}}</a>
    </div>
    {% include "partial/menu.twig" with {'menu': menu.get_items} %}
  </div>
</header>
